<div>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th *ngFor="let field of fields" scope="col">{{field}}</th>          
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let member of collection; let i=index;">
          <th scope="row">{{i}}</th>
          <td *ngFor="let field of fields">{{member[field]}}</td>          
          <td>
            <button id={{member.id}} #del class="btn btn-danger btn-sm" (click)="deleteHandler(del.id)">Delete</button>            
            <button id={{member.id}} #upd class="btn btn-info btn-sm" (click)="update(upd.id)">Update</button>
          </td>
        </tr>
      </tbody>
    </table>

  </div>