<div *ngIf="user">

    <div>
      <span>Name:</span>
      <input #name type="text" [value]="user.name">
    </div>
  
    <div>
      <span>Email:</span>
      <input #email type="email" [value]="user.email">
    </div>
  
    <div>
      <span>Password:</span>
      <input #pass type="password" [value]="user.password">
    </div>
  
    <div>
      <span>Mobile:</span>
      <input #mobile type="mobile" [value]="user.mobile">
    </div>
  
    <div>
        <span>Role:</span>
        <select #role>
            <option value="DEV">Developer</option>          
        </select>
    </div>
  
    <div>
      <button (click)="update(name.value, email.value, pass.value, mobile.value)">Update</button>
    </div>  
  
  </div>