<div>


  <div>
    <span>Name:</span>
    <input #name type="text">
  </div>

  <div>
    <span>Email:</span>
    <input #email type="email">
  </div>

  <div>
    <span>Password:</span>
    <input #pass type="password">
  </div>

  <div>
    <span>Mobile:</span>
    <input #mobile type="mobile">
  </div>

  <div>
      <span>Role:</span>
      <select #role>
          <option value="DEV">Developer</option>          
      </select>
  </div>

  <div>
    <button (click)="create(name.value, email.value, pass.value, mobile.value, role.value)">Create</button>
  </div>



</div>


